<ion-header [translucent]="true">
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    
    </ion-buttons>

    <ion-title>
      Dashboard Settings
    </ion-title>

 <ion-buttons slot="end">
      
      <ion-button (click)="save()" >
        <ion-icon name="checkmark"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
  
  <ion-content>
     

    <ion-list class="chkbox-list">
      
      <ion-item *ngFor="let item of items">
        <ion-label>{{item.desc}}</ion-label>
        <ion-checkbox slot="start" [(ngModel)]="item.isChecked"></ion-checkbox>
      </ion-item>
  
    
    </ion-list>

   

    </ion-content>


    

