.dt-row{
    padding: 5px;
    margin-top:2px;
    margin-bottom: 2px;
  }
  
  .br-row{
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  
  .lb-col{
    font-weight: bold;
    color: #737373;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
  }
  .dt-col{
    color: #000;
  }